@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

header {
    padding: 30px 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
    margin: -25px auto 0 auto;
    padding: 0;
    width: 82%;
}
.mt-4{
    margin-top: 40px;
}
.text-center{
    text-align: center;
}

header .container h1 {
    float: left;
    padding: 0;
    font-weight: 900;
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
}
header .container h1 a{
    color: black;
    text-decoration: none;
}
header .container .left{
    padding: 0;
}
header .container .right{
    float: right;
    padding: 0;
    margin: 0;
}
header .container .right ul{
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}
header .container .right ul li {
    list-style: none;
    display: inline-block;
}
header .container .right ul li a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 12px 15px;
    text-decoration: none;
    position: relative;
}
header .container .right ul li a:hover {
    text-decoration: none;
    outline: none;
    color: white;
    background: #0000009c;
    border-radius: 10px;
}


/*  card */

.container .card{
    width: 50%;
    margin: 100px auto;
    background: #e7e7e7;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.box {
    display: inline-flex;
    width: 100%;
}

.admin-card {
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 5px;
    border-radius: 15px;
}

.user-card {
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 5px;
    border-radius: 15px;
}

.card-header{
    font-family: "Roboto", Arial, sans-serif;
    color: #464646;
    border-bottom: 2px solid;
    width: 80%;
    margin: 0 auto 25px auto;
}

.card-footer button{
    margin-left: 50px;
}

/* button */

.btn{
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-success{
    background-color: rgb(0, 255, 0);
}

.btn-success:hover{
    background-color: rgb(0, 196, 0);
}

.btn-primary{
    background-color: rgb(4, 0, 255);
}

.btn-primary:hover{
    background-color: rgb(3, 0, 192);
}

.btn-danger{
    background-color: rgb(255, 0, 0);
}

.btn-danger:hover{
    background-color: rgb(170, 1, 1);
}

.btn-logout{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 12px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-logout:hover{
    outline: none;
    color: white;
    background: #0000009c;
    border-radius: 10px;
}

/* form */

.form-group{
    margin-bottom: 20px;
}

.form-group .form-control{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

/* table */

.table{
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    font-size: 14px;
    min-width: 400px;
    font-family: "Roboto", Arial, sans-serif;
}

.table thead tr{
    background-color: #464646;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td{
    padding: 12px 15px;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
    border-bottom: 2px soli #464646;
}


/* footer */

.footer{
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    position: fixed;
    background: #646464;
    font-family: "Roboto", Arial, sans-serif;
}

.footer .copyright p{
    padding: 25px 0;
}